<div id="<%= dom_id emloyee %>">
  <p>
    <strong>Name:</strong>
    <%= emloyee.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= emloyee.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= emloyee.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= emloyee.designation %>
  </p>

</div>
